.Search-User-Input {
  padding: 4px 11px;
  width: 30vw;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}

.submit-button {
  margin-left: 20px;
}