.Table-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Table {
  border-collapse: collapse;
  text-align: left;
  width: 80%;
  margin-top: 1rem;
  color: #fff;

  -webkit-box-shadow: 10px 10px 46px -8px rgba(156,156,156,0.36);
  -moz-box-shadow: 10px 10px 46px -8px rgba(156,156,156,0.36);
  box-shadow: 10px 10px 46px -8px rgba(156,156,156,0.36);
}

thead {
  background-color: #6D7AE0;
  border-radius: 100px;
}

tr {
  height: 53px;
}

tr:nth-child(even) {
  background-color: #F8F6FF;
}

th {
  font-weight: bold;
  font-size: 18px;
  padding: 1rem;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

td {
  font-size: 15px;
  font-weight: lighter;
  padding: 1rem;
  color: #808080;
  line-height: 1.4;
}

.No-Users {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.Spinner-Wrapper {
  display: flex; 
  justify-content: center; 
  height: 100vh;
  align-items: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}